# This file contains default .gitignore rules. To use it, copy it to .gitignore,
# and it will cause files like your settings.php and user-uploaded files to be
# excluded from Git version control. This is a common strategy to avoid
# accidentally including private information in public repositories and patch
# files.
#

# Docker env specific
.idea/
.docker-sync/
.DS_Store
*/.DS_Store
sftp-config.json

# Remove sql-dumps from repositories
*.sql
*.sql.*

# Remove local files backups from repositories 
*-files.tar.gz
